/* Base styles */

.buttonDanger {
  border-width: 1px;
  border-color: #000;
  color: #000;
  height: 40px;
  text-wrap: nowrap;
  display: inline-block;
  padding: 0 16px;
  line-height: 40px;
  background-color: rgb(237, 235, 235);
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  /* -webkit-border-radius: 2px; */
}

.nameMienBac {
  color: #000;
}

.formGroup {
  align-items: center;
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  display: table;
}

.formGroup:last-child {
  margin-bottom: 0;
  align-items: center;
}

.container {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* min-height: 100vh; */
  /* padding: 20px; */
  /* box-sizing: border-box; */
  /* background-color: #f9f9f9; */
  font-size: 0.85rem;
  color: #000;
  /* max-width: var(--max-width); */
  width: 100%;
}

.resultsBox {
  /* padding: 20px; */
  /* border-radius: 10px; */
  /* text-align: center; */
  width: 100%;
  max-width: 800px;
  /* background-color: #fff; */
}

.resultsTitle {
  color: #080808ee;
  margin-bottom: 20px;
  font-size: 20px; /* Adjusted font size */
  font-weight: bold;
  line-height: 1.4; /* Adjust line height for better spacing */
}

.resultsTitle span {
  display: block; /* Ensure each line of the title appears on a new line */
  margin-bottom: 5px; /* Adjust spacing between lines */
}

.redText {
  font-size: 15px; /* Font size for the red text */
  color: #d9534f; /* Red color for the text */
  font-weight: bold;
}

.link {
  font-size: 15px; /* Font size for the links */
  color: #0628ec; /* Color for the links */
  font-weight: normal; /* Optional: Adjust weight if needed */
  text-decoration: none; /* Remove underline from links */
}

.resultsTable {
  width: 100%;
  border-collapse: collapse;
}

.resultsTable thead tr {
  background-color: #f7f7f7;
}

.resultsTable th,
.resultsTable td {
  padding: 12px;
  border: 0.1px solid #c9c9c9;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #000;
}

.resultsTable th {
  background-color: #fff;
  color: #000;
}

.resultsTable tbody tr:nth-child(even) {
  background-color: rgb(239, 246, 254);
}

.resultsNumber {
  display: inline-block;
  margin-right: 10px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
}

.resultsNumberRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  margin: auto;
  line-height: 2;
}

.redNumber {
  color: red;
  font-size: 28px;
  font-weight: bold;
}

/* Adjust the column width for the "Giải" column */
.prizeColumn {
  width: 150px;
}

/* Responsive styles */
@media (max-width: 1440px) {
  .resultsBox {
    /* padding: 18px; */
  }

  .resultsTitle {
    font-size: 19px; /* Slightly smaller font size */
  }

  .resultsTable th,
  .resultsTable td {
    padding: 11px; /* Slightly smaller padding */
    font-size: 15px; /* Smaller font size */
  }

  .resultsNumber {
    font-size: 17px; /* Slightly smaller font size */
  }

  .spinningBall {
    width: 28px; /* Slightly smaller size for laptop */
    height: 28px; /* Slightly smaller size for laptop */
    animation: spin 2.5s linear infinite; /* Adjust speed for laptop */
  }

  .ballWrapper {
    height: 45px; /* Adjust height to fit smaller spinning ball */
    padding: 2;
  }
}

@media (max-width: 1024px) {
  .resultsBox {
    /* padding: 15px; */
  }

  .resultsTitle {
    font-size: 18px; /* Slightly smaller font size */
  }

  .resultsTable th,
  .resultsTable td {
    padding: 10px; /* Slightly smaller padding */
    font-size: 14px; /* Smaller font size */
  }

  .resultsNumber {
    font-size: 16px; /* Slightly smaller font size */
  }

  .spinningBall {
    width: 25px; /* Slightly smaller size for tablet */
    height: 25px; /* Slightly smaller size for tablet */
    animation: spin 2s linear infinite; /* Adjust speed for tablet */
  }

  .ballWrapper {
    height: 40px; /* Adjust height to fit smaller spinning ball */
  }
}

@media (max-width: 768px) {
  .resultsBox {
    /* padding: 10px; */
  }

  .bodyCell {
    display: table-cell;
    border: 1px solid #ccc;
    text-align: center;
    padding: 6px;
    color: #000;
    font-size: 12px;
  }

  .resultsTitle {
    font-size: 16px; /* Further reduce font size */
  }

  .redNumber {
    color: red;
    font-size: 18px;
    font-weight: bold;
  }

  .resultsTable th,
  .resultsTable td {
    padding: 8px; /* Smaller padding */
    font-size: 12px; /* Smaller font size */
  }

  .resultsNumber {
    font-size: 14px; /* Further reduce font size */
    margin-right: 5px; /* Adjust margin */
  }

  .resultsNumberRow {
    flex-direction: row; /* Keep numbers in a row */
    justify-content: space-between; /* Distribute space evenly */
    align-items: center; /* Center align items vertically */
  }

  .prizeColumn {
    width: 120px; /* Make "Giải" column narrower */
  }

  .resultsTable td {
    text-align: center; /* Center align numbers */
  }

  .spinningBall {
    width: 20px; /* Slightly smaller size for mobile */
    height: 20px; /* Slightly smaller size for mobile */
    animation: spin 1.5s linear infinite; /* Adjust speed for mobile */
  }

  .ballWrapper {
    height: 35px; /* Adjust height to fit smaller spinning ball */
  }
}

@media (max-width: 480px) {
  .resultsBox {
    /* padding: 5px;  */
  }

  .bodyCell {
    display: table-cell;
    border: 1px solid #ccc;
    text-align: center;
    padding: 6px;
    color: #000;
    font-size: 12px;
  }

  .redNumber {
    color: red;
    font-size: 16px;
    font-weight: bold;
  }

  .resultsTitle {
    font-size: 14px; /* Smallest font size for title */
  }

  .resultsTitle span {
    font-size: 12px; /* Smaller font size for each line */
  }

  .resultsTable th,
  .resultsTable td {
    padding: 6px; /* Minimal padding */
    font-size: 10px; /* Smallest font size for table */
  }

  .resultsNumber {
    font-size: 10px; /* Smallest font size for numbers */
    margin-right: 3px; /* Minimal margin */
  }

  .link {
    font-size: 10px; /* Smallest font size for links */
    line-height: 1.5; /* Adjust line height */
  }

  .resultsNumberRow {
    flex-direction: row; /* Keep numbers in a row */
    justify-content: space-around; /* Distribute space evenly */
    align-items: center; /* Center align items vertically */
    line-height: 1.5; /* Adjust line height */
  }

  .prizeColumn {
    width: 100px; /* Further reduce "Giải" column width */
  }

  .spinningBall {
    width: 15px; /* Smaller size for very small screens */
    height: 15px; /* Smaller size for very small screens */
    animation: spin 1s linear infinite; /* Faster spin for very small screens */
  }

  .ballWrapper {
    height: 30px; /* Adjust height to fit even smaller spinning ball */
  }
}

/* Add styles for the ball and its wrapper */
.ballWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  position: absolute;
  width: 30px; /* Adjust size as needed */
  height: 30px;
  background-image: url("../../../assets/images//WorldIcon.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  animation: spin 3s linear infinite; /* Adjust speed as needed */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add this to your CSS file */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Add styles for the spinning ball */

.spinningBall {
  width: 30px; /* Adjust the size as needed */
  height: 30px; /* Adjust the size as needed */
  background: url("../../../assets/images/WorldIcon.png") no-repeat center
    center; /* Update with your ball image */
  background-size: cover;
  animation: spin 2s linear infinite;
  position: relative;
}

/* Ensure the ballWrapper positions the spinning ball correctly */
.ballWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure it takes full width available */
  height: 50px; /* Adjust to fit spinning ball size */
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .spinningBall {
    width: 25px; /* Slightly smaller size for mobile */
    height: 25px; /* Slightly smaller size for mobile */
    animation: spin 1.5s linear infinite; /* Adjust speed for mobile */
  }

  .ballWrapper {
    height: 40px; /* Adjust height to fit smaller spinning ball */
  }

  .bodyCell {
    display: table-cell;
    border: 1px solid #ccc;
    text-align: center;
    padding: 6px;
    color: #000;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .spinningBall {
    width: 20px; /* Smaller size for very small screens */
    height: 20px; /* Smaller size for very small screens */
    animation: spin 1s linear infinite; /* Faster spin for very small screens */
  }

  .ballWrapper {
    height: 30px; /* Adjust height to fit even smaller spinning ball */
  }

  .bodyCell {
    display: table-cell;
    border: 1px solid #ccc;
    text-align: center;
    padding: 6px;
    color: #000;
    font-size: 12px;
  }
}

/* Keyframes for spinning animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Thêm các kiểu cho nút */
.spinButton {
  /* padding: 5px 10px; */
  text-wrap: nowrap;
  color: white;
  border: none;
  cursor: pointer;
  background-color: #ed1c25;
  height: 40px;
  width: 100px;
  border-radius: 1;
  line-height: 40px;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.spinButton:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.spinButtonSelect {
  text-wrap: nowrap;
  color: black;
  cursor: pointer;
  background-color: white;
  border-width: 0.1px;
  border-color: #605e5e;
  height: 40px;
  width: 100px;
  line-height: 40px;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.sectionHeader {
  flex-direction: row;
  display: flex;
  float: left;
  width: 100%;
  position: relative;
  background: white;
  border-bottom: 0;
  padding: 8px 10px;
  text-align: center;
  justify-self: start;
}

.numberSpin {
  text-align: center;
  width: 100%;
  float: left;
  padding: 10px;
}

.lotteryTableContainer {
  width: 100%;
}

.options {
  text-align: center;
  width: 100%;
  float: left;
  padding: 20px;
}

.optionLabel {
  margin-left: 15px;
  margin-right: 20px;
  color: #000;
  font-size: 14px;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

.headerRow,
.bodyRow {
  display: table-row;
}

.headerCell,
.bodyCell {
  display: table-cell;
  border: 1px solid #ccc;
  text-align: center;
  padding: 6px;
  color: #000;
  font-size: 12px;
}

.tableTitle {
  font-weight: bold;
  color: "#0029ad";
}

.radio1 {
}

.secondLine {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 15px; /* Font size for the red text */
  color: #1104ca; /* Red color for the text */
  font-weight: bold;
}

.lotteryTableContainer {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* đảm bảo các cột có chiều rộng bằng nhau */
}

.headerRow {
  background-color: #f0f8ff;
}

.headerCell,
.bodyCell {
  border: 1px solid #ccc;
  text-align: center;
  padding: 8px;
}

.bodyRow:nth-child(even) {
  background-color: #f0f8ff; /* màu xanh nhạt cho các dòng chẵn */
}

.redText {
  color: red;
}
